body{
	background-color: purple;
	font-family: arial;
	margin: 0 auto;
}

.rotate{
	transform: rotate(180deg);
}

header{
	background: violet;	
}

main{
	background-color: black;
}

main .things{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

main .things img{
	width: auto;
	height: 200px;
	padding-left: 20px;
}

footer{
	background-color: pink;
	display: flex;
}

li{
	color: white;
	text-decoration: none;

}

ul{
	color: white;
	list-style-type: none;
}

h1{
	font-family: Comic Sans MS;
}

h2{
	color:brown;
}

.lol{
	display: flex;
}

.lol img{
	width: auto;
	height: 300px;
}

footer img{
	width: auto;
	height:20px;
}